
*{
    box-sizing: border-box;
    /* border: 1px red solid; */
}
.red-border{
    border: 1px red solid;
    transition: border 1s;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(63,133,203,1) 100%);
}

/* Main Page css start ---------------------------------------------------------------- */
.navbar{
    border-bottom: 4px grey solid;
    background: rgb(7,32,57);
    background: linear-gradient(56deg, rgba(7,32,57,1) 0%, rgba(54,54,54,1) 100%);}
.btn-nav{
    color: grey;
}

.dropdown-li{
    border-bottom: 2px solid black;
    padding:.3em 0 .3em 0;
    
}
.dropdown-item{
    padding: 0;
    text-align: center;
}

.menu-nav{
width: 35%;
padding-top: 0;
padding-bottom: 0;
}
.nav-img{
    max-width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightblue;
    transition: 1s;

    }
    .nav-img:hover{
        transform: scale(1.1) rotate(-30deg);

    }
.hero-img{
    border-radius: 50%;
    background-color: lightblue;
    padding: .5em;
    transition: 2s;
   
}
.hero-img:hover{
    transform: scale(1.3) rotate(30deg);
}

.hero-padding{
    padding-top: 5em;
    padding-bottom: 20em;
    background-image: url("../imgs/background-img.jpeg");
    background-repeat: repeat;
}


.about-padding{
    padding-top: 10em;
    padding-bottom: 10em;
}


.about-header,.skills-header,.skill-list-header{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    border-top: 5px black solid;
    padding-top: .5em;
}



.photo-container{
    display: flex;
    align-content: center;
    width: 100%;
    margin-bottom: .5em;
}


.project-header{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    border-top: 5px black solid;
    padding: .5em;
    margin-bottom: 1.5em;
}
.view-write-up,.view-summary{
    margin: 0 auto;
    margin-top: .5em;
    border-radius: .5em;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding:.7em;
    margin-top: 1em;
}
.download-link{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: .5em;
    margin-right: 1em;
    transition: .5s;
}
.download-link:hover{
    background-color: #0d6efd;
    color: white;
}
.project-row{
    max-width: 100%;
}

.project-p{
    padding: .5em;
    display: flex;
    flex-direction: column;
    background: rgb(247,250,254);
    background: radial-gradient(circle, rgba(247,250,254,1) 0%, rgba(186,192,199,1) 100%);
    border-bottom: 8px black solid;
}
.project-p p{
    background-color: lightcyan;
    padding: .5em;
    border-radius: 1em;
}
.project-img{
    margin: 0 auto;
    border-bottom: black 8px solid;
    

    
}

.column-card{
   
    margin-bottom: 4em;
}
.btn-center{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.hide{
    display: none;

    
}

    
.skills-header{
    border-top: none;
}

.skills-card{
    margin:0 auto;
    margin-bottom: 1.5em;
    border-radius: 3em;
}
.skills-button{
    display: flex;
    justify-content: center;
}

.skills-ul{
    display: flex;
    flex-direction: row;
   list-style: none;
   padding: 0;
   text-align: center;
   margin: 0;
   justify-content: space-around;
   align-items: center;
}
.skills-li{
    padding:.3em;
    margin-bottom: .5em;
    min-width: 68px;
    padding: .1em;
    padding-left: .3em;
    padding-right: .3em;
    background-color: lightblue;
    border-radius: 5em;
   
}

.css-demo-title{
    font-family: cursive;
}

.css-demo-p{
    font-family: fantasy;
}

.css-demo{
  background-color: lightblue;
  color: darkred;
}
.css-demo,.css-demo-p,.css-demo-title,.css-demo-body{
    transition: 1s;
}

.javascript-demo-class{
    font-size: 1.2rem;
    background-color:  deepskyblue;
    width: 100%;
    
}

#javascript-demo-ex1,#javascript-demo-ex2,#javascript-demo-ex3,#javascript-demo-ex4,#javascript-demo-ex5,#javascript-demo-ex6,#javascript-demo-ex7,#javascript-demo-ex8{
    transition: 1s;
}


/* Main page css end ---------------------------------------------------------------- */
/* Sub Pages css start ---------------------------------------------------------------- */

.sub-pages-header{
    text-align: center;
    margin-bottom: 2rem ;
}
.sub-page-link{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.project-imformation{
    align-content: center;
}
.project-skills-used{
    display: flex;
    flex-direction: column;
}

.skills-used-header{
    text-align: center;
    margin-top: .5em;
    background-color: whitesmoke;
    border-radius: 1em;
    padding: .5em 0em .5em 0em;
}

.sub-page-img{
    padding: 1em;
    margin-bottom: 1em;
}
.sub-page-img1{
 background: rgb(10,83,157);
 background: linear-gradient(163deg, rgba(10,83,157,1) 57%, rgba(255,255,255,1) 100%);
 border-radius: 0;
}
.sub-page-img2{
    background: rgb(10,83,157);
    background: linear-gradient(195deg, rgba(10,83,157,1) 57%, rgba(255,255,255,1) 100%);
    border-radius: 0;
}
.sub-page-img3{
    background: rgb(10,83,157);
    background: linear-gradient(9deg, rgba(10,83,157,1) 57%, rgba(255,255,255,1) 100%);
    border-radius: 0;
}
    
.sub-page-img4{
    background: rgb(10,83,157);
    background: linear-gradient(349deg, rgba(10,83,157,1) 57%, rgba(255,255,255,1) 100%);
    border-radius: 0;
}
.sub-pages-p{
    margin-top: 2em;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 1em;
}
.sub-pages-text{
    margin: 0 auto;
    width:fit-content;
    padding: 1em;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(63,133,203,1) 100%);
    border: 1px black solid;
    color:black;
    border-radius: 1em;
    margin-bottom: .3em;
    transition: .5s;
}
.sub-pages-text:hover{
    background: rgb(87,255,0);
    background: radial-gradient(circle, rgba(87,255,0,1) 0%, rgba(181,218,175,1) 100%);
    -webkit-box-shadow: 5px 5px 15px -3px #000000, 5px 5px 7px 8px #627DA8; 
    box-shadow: 5px 5px 15px -3px #000000, 5px 5px 7px 8px #627DA8;
}
.sub-pages-text:focus{
   border: 5px black solid;
}
.sub-pages-link{
    text-decoration: none;
}
.no-show{
    display: none;
}











/* Sub Pages css end ---------------------------------------------------------------- */



.contacts{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}
.contact-header{
    color: white;
    width: fit-content;
    margin: 0 auto;
}
.contact-ul,.contact-info-div{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    width: 85%;
   padding: 0;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 1em;
    text-align: center;
    margin-top: 1em;
}
.contact-li{
    color: black;
    display: flex;
    margin-top: .5em;
    border-bottom: 1px blue solid;
    border-radius: 1em;
    text-decoration: none;
    transition: background-color .1s;
}
.contact-li:hover{
    background-color: lightblue;
    cursor: pointer;
}
.contact-p{
    margin: 0;
    align-self: center;
    margin: 0 auto;
    width: 40%;
    
}
.contact-info-p{
 display: flex;
 flex-direction: row;
 margin-top: .5em;
 margin-bottom: 1.2em;
 padding: .5em;
 border-bottom: 1px blue solid;
 border-radius: 1em;
}

.contact-link{
    text-decoration: none;
}
.contact-info-div{
    justify-content: space-between
}
.contact-info-start{
    margin: 0 auto;
    text-align: start;
    width: 60%;
}
.contact-info-p p{
    margin-bottom: 0;
}
.contact-list,.contact-info{
    width: 100%;
    margin: 0 auto;
}
.svg-img{
    background-color: #E8EFF7;
    padding: .1rem;
    border-radius: 15%;
    transition: .1s;
}
.instagram-svg{
    fill: black;
    background: rgb(248,195,10);
    background: linear-gradient(180deg, rgba(248,195,10,1) 0%, rgba(235,33,32,1) 100%);
}
.gmail-svg{
    fill: #f45444;
    background-color: white;
}
.facebook-svg{
    fill: #0570f4;
    background-color: white;
}
.twitter-svg{
    fill: #1cccf0;
    background-color: white;
}
.github-svg{
    fill: #a449b0;
    background-color: black;
}

.svg-img:last-child{
    margin-right: 0;
}

.contact-button{
    margin:0 auto;
}
.btn-ben{
    color: white;
    background-color: tomato;
}

.ben-img{
    border: 10px solid black;
}

@media screen and (min-width: 768px) {
    
    
    .about-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 1.5em;
    }
    .about-photo{
        height:auto;
        width: 100%;
        margin: 0 auto;
        
    }
    .about-p{
        padding: 2em;
        
    }
    
    .photo-container{
        display: flex;
        align-content: center;
        width: 45%;
    }
    .about-text{
        display: flex;
        align-items: center;
        width: 55%;
        padding: 1em;
      
    }

    .carousel-con{
        width: 75%;
        margin: 0 auto;
    }
    
    .skills-button{
        display: flex;
        justify-content: center;
    }
    .skills-ul-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em;
    }
    .skills-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }
    .skills-li{
        padding: .1em;
        padding-left: .3em;
        padding-right: .3em;
        border-radius: 5em;
        min-width: 65px;
        text-align: center;
        margin-right: 1.75em;
    }
    .about-photo{
        height:auto;
        width: 100%;
        margin: 0 auto;
        border-radius: 1em;
    }

}
@media screen and (min-width: 1024px){
    .contacts{
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;
    }
    .contact-header{
        color: white;
        width: fit-content;
        margin: 0 auto;
    }
    .contact-ul,.contact-info-div{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        width: 75%;
        padding: 1em 5em 1em 5em;
        margin: 0 auto;
        background-color: whitesmoke;
        border-radius: 1em;
        text-align: center;
    }
    
    .contact-info-p{
     display: flex;
     flex-direction: row;
     margin-top: .5em;
     padding: .5em;
     border-bottom: 1px blue solid;
     border-radius: 1em;
    }
    
    .contact-list,.contact-info{
        width: 50%;
    }
    

}

@media screen and (min-width: 993px){
    .no-show{
        display: flex;
    }
    .sub-page-img{
        margin-bottom: 0;
    }
    .sub-page-img1{
        border-top-left-radius: 2em;

    }
    .sub-page-img2{
        border-top-right-radius: 2em;
    }
    .sub-page-img3{
        border-bottom-left-radius: 2em;
    }
    .sub-page-img4{
        border-bottom-right-radius: 2em;
    }
    .accordion-round{
        border-bottom-left-radius: 2em;
    }
}

